Q: Wavelength of: {Band}
A: {Wavelength}

---

Q: Energy of: {Band}
A: {Energy}

---

Q: Photons with a wavelength of {Wavelength} are termed?
A: {Band}

---

Q: Photons with an energy of {Energy} are termed?
A: {Band}
