Q: Uppercase form of **{Letter}**?
A: # {Upper}

---

Q: Lowercase form of **{Letter}**?
A: # {Lower}

---

Q: Pronunciation of **{Letter}**?
A: {Pronunciation}

---

Q: Name of this letter?

# {Upper}

A: {Letter}

---

Q: Name of this letter?

# {Lower}

A: {Letter}