Q: Smallest wavelength of: {Band}
A: {WavelengthLow}

---

Q: Largest wavelength of: {Band}
A: {WavelengthHigh}

---

Q: Lowest energy of: {Band}
A: {EnergyLow}

---

Q: Highest energy of: {Band}
A: {EnergyHigh}

---

Q: Photons with a wavelength from {WavelengthLow} to {WavelengthHigh} are termed?
A: {Band}

---

Q: Photons with an energy from {EnergyLow} to {EnergyHigh} are termed?
A: {Band}
